/*顶部登录注册*/
.site-top-nav {
	position: fixed;
	top:0;
	width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    height: 31px;
    overflow: hidden;
    z-index: 3000;
}
.wrap {
	width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.site-top-nav .home {
	display: inline-block;
	float: left;
    background: url(https://s10.mogucdn.com/p2/161011/upload_8dhi7ll8egg1ee9i12a3fc1lg93b9_609x784.png) -4px -234px no-repeat;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-left: 20px;
    font-size: 12px;
}
.site-top-nav .header_top {
    float: right;
}
.header_top .sl {
    display: inline;
    z-index: 100;
    float: left;
    margin: 0 20px 0 0;
    height: 31px;	
}
.header_top .sl:last-child {
  margin-right: 0px;
}
.header_top .sl a {
    float: left;
    color: #666;
    line-height: 31px;
    font-size: 12px;
}
.myOrder a {
  display: block;
  height: 31px;
  text-indent: 27px;
  background: url(../images/icon/order.png);
  background-position: 0px 4px;
  background-size: 20px 21px;
  background-repeat: no-repeat;
  z-index: 1000;
}
.shopCar a {
  display: block;
  height: 31px;
  text-indent: 27px;
  background: url(../images/icon/shopCar.png);
  background-position: 0px 3px;
  background-size: 23px 21px;
  background-repeat: no-repeat;
  z-index: 1000;  
}
/*头部logo*/
.header_mid {
	position: fixed;
	width: 100%;
	top:31px;
	z-index: 102;
	background-color: white;
	border-bottom: #f36 solid 2px;
}
.header_mid .logo {
    float: left;
    width: 240px;
    height: 90px;
    overflow: hidden;
}
.header_mid .logo img {
    height: 100%;
    float: left;
}
.normal-search-content {
    width: 482px;
    height: 90px;
    float: left;
    margin-left: 120px;
}
.top_nav_search {
    position: relative;
    z-index: 50;
    width: 482px;
    margin-top: 30px;
}
.top_nav_search .search_inner_box {
    border: 1px solid #f07;
    width: 480px;
    height: 34px;
    border-radius: 0 6px 6px 0;
    background: #fff;
}
.top_nav_search .selectbox {
    position: relative;
    float: left;
    width: 60px;
    z-index: 10;
    text-align: center;
}
.top_nav_search .selectbox .selected {
    display: block;
    height: 34px;
    line-height: 34px;
    color: #f07;
    cursor: pointer;
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAEBAMAAABB42PDAAAAFVBMV…CzAAAAHElEQVQIHWNQTUtLYWAMSzNgYBBNZmBgYDRgAAAmCQLsUBsk5QAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center right;
}
.top_nav_search .selectbox ol {
    top: 102%;
    border-top: 1px solid transparent;
    display: none;
    position: absolute;
    left: -1px;
    width: 60px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.top_nav_search .ts_txt {
    display: block;
    overflow: hidden;
    width: 305px;
    height: 22px;
    line-height: 22px;
    padding: 6px 0 6px 10px;
    border: none;
    color: #999;
    font-size: 12px;
    background-color: #fff;
}
.top_nav_search .ts_btn {
    float: right;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    width: 100px;
    background-color: #f07;
    background-image: linear-gradient(to right,#f25,#ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

/*分类女装列表*/
.class_title {
	width: 100%;
	height: 60px;
}
.title_l span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	margin-top: 20px;
	text-indent: 15px;
	border-left: #FFA1B8 solid 10px;
}
.sort li {
	float: left;
	width: 76px;
	text-align: center;
	height: 15px;
	line-height: 15px;
	margin-top: 25px;
	font-size: 13px;
	border-right: #ccc solid 1px;
}
.sort li:last-child {
	border-right: none;
}
.Sales {
	background: url(https://s10.mogucdn.com/mlcdn/c45406/170502_00167369l769g0j8kh4lcal2ca74e_200x601.png) no-repeat;
    background-position: -135px -47px;
}

/*商品列表*/
.goods_item {
  width: 226px;
  height: 438px;
  border: 1px solid #ececec;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: box-shadow 0.35s;	
}
.goods_item:nth-child(5n){
	margin-right: 0px;
}
.goodsimg {
  display: block;
  width: 226px;
  height: 338px;
  overflow: hidden;
}
.goodsimg img {
	width: 100%;
}
.goods_price {
  margin: 0;
  padding: 4px 10px 10px;
  display: block;
  position: relative;	
}
.priceBox {
  height: 38px;
  overflow: hidden;	
}
.priceBox .save_num {
    width: 60px;
    line-height: 14px;
    height: 14px;
    text-align: center;
    padding: 2px 0;
    border: 1px solid #f36;
    color: #f36;
    margin-top: 10px;
    border-radius: 3px;
}
.priceBox .now_price {
    font-size: 28px;
    color: #f36;
    line-height: 38px;
    font-weight: bold;
 }
 .now_price em {
 	font-style: normal;
  font-size: 22px;
}
.yahei {
    font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, 宋体, 宋体, Tahoma, Arial, Helvetica, STHeiti;
}
.goods_price .goods_name_link {
  display: block;
  width: 100%;
  line-height: 14px;
  height: 14px;
  color: #777;
  padding: 1px 0;
}
.text_hide {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.goods_item .utw_bottom_bar {
    height: 29px;
    margin: 0 10px;
    border-top: 1px dashed #ddd;
}
.cut_time {
  color: #999;
  line-height: 14px;
  margin-top: 8px;
}
.join_num {
  color: #999;
  line-height: 14px;
  margin-top: 8px;
}